* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

input,textarea{
    border: none;
    outline: none;
}

input::placeholder,textarea::placeholder{
    color: #cbcbcb;
    font-size: 13px;
    letter-spacing: 0.5px;
}


button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
