@mixin line($number){
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}


@mixin elementTitle($color){
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 120%;
    color: $color;

    @include xs{
        font-size: 2.5rem;
    }

    @include sm{
        font-size: 3rem;
    }

    @include md{
        font-size: 3rem;
    }

    @include lg{
        font-size: 3.5rem;
    }
}

@mixin elementLabel($color){
    font-size: 3rem;
    letter-spacing: 0.5px;
    line-height: 150%;
    color: $color;
    font-weight: 500;
    display: block;

    @include xs{
        font-size: 2rem;
    }

    @include sm{
        font-size: 2rem;
    }

    @include md{
        font-size: 2rem;
    }
}


@mixin elementText($color){
    margin: 20px 0;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    line-height: 150%;
    color: $color;
    font-weight: 400;
    display: block;
}

@mixin elementBtn($Color,$bgColor){
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $Color;
    background-color: $bgColor;
    padding: 14px 28px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.6s ease;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    &::before{
        position: absolute;
        content: "";
        display: block;
        width: 150px;
        top: 0;
        left: 120%;
        bottom: 0;
        transform: skew(40deg);
        background-color: rgba($black-color, 0.4);
        transition: all 0.5s;
    }

    &:hover{
        &::before{
            left: 60%;
        }
    }
}

@mixin elementBtn2($Color,$bgColor){
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $Color;
    background-color: $bgColor;
    border: 1.5px solid $Color;
    padding: 14px 28px;
    font-weight: 600;
    display: inline-block;
    border-radius: 2px;
    overflow: hidden;
}



